body {

    padding:0;
    margin:0;
    background-color: #fcf1f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
}
    #calc{
       border-top: 24px solid #BCD2D8;
        padding-top: 10px;
        background-color: white;
        margin-bottom: 25px;
        font-size: 30px;
    }
#slidecontainers{
    border-top: 24px solid #F7BE45;
    padding-top: 10px;

        background-color: white;
        margin-bottom: 25px;
}
#BA{
    padding-top: 15px;
    background-color: white;


}
    #Referencedata{
        border-top: 24px solid #212E40;
    padding-top: 10px;
        background-color: white;
        margin-bottom: 25px;
    }
#fotocal{
height: 250px;;
}
/* h1 {
    font-size:55px;
    padding-top:0;
     margin-left:0;
     margin-right:0;
    height:100px;
    background-color: #BCD2D8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */
#brandspan , #modelspan , #D , #B, #I {
    font-weight: bold;
    font-size:30px;
} 
#brand, #model {
    background-color: #c9c9c9;
    font-size: 25px;
}
.subtitle{
    font-size: 35px;
    font-weight: bold
}
#showData{
    font-size: 18px;
}

