body {

    padding:0;
    margin:0;
    background-color: #fcf1f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
}
    #calc{
       
        padding-top: 10px;
        background-color: white;
        margin-bottom: 25px;
    }
#slidecontainers{
    border-top: 24px solid #F7BE45;
    padding-top: 10px;

        background-color: white;
        margin-bottom: 25px;
}
#BA{
    padding-top: 15px;
    background-color: white;


}
    #Referencedata{
        border-top: 24px solid #212E40;
    padding-top: 10px;
        background-color: white;
        margin-bottom: 25px;
    }

h1 {
    padding-top:0;
     margin-left:0;
     margin-right:0;
    height:100px;
    background-color: #BCD2D8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#brandspan , #modelspan , #D , #B, #I {
    font-weight: bold;
} 
#brand, #model {background-color: #c9c9c9

}
